
*{
	margin: 0;
	padding: 0;
}
body{
	font-size: 14px;
	color: #333;
	font-family:Raleway;

}
.video{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 500px;

}
iframe#player{
    position: absolute;
    width:100%;
    height: 700px;
}
a{
	text-decoration: none;
}
p{
    line-height: 170%;
    margin-bottom: 10px;
    margin-top: 10px;
}
h1, h2, h3, h4{
	text-transform: uppercase;
	margin: 0 0 15px 0;
}
section{
	padding: 60px 0;
}
article.img-proyect{
	text-align: center;
}
article img.img-100{
	width: 100%;
    max-width: 500px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
}
/*.container{
	max-width: 1080px;
	width: 95%;
    margin: 0 auto;
    
}*/
.cont-flex{
display: flex;

}
header{
	background: url(../img/bg-macarena-oviedo.jpg) no-repeat top center;
	background-size: cover;
    background-attachment: fixed;
	height: 520px;
    position: relative;
}
.header-interiores{
	height: 200px;

}
header .container{
	display: block;
}
@keyframes logo{

0% {opacity:0;}
100% {opacity:1;}

}
header .cont-info{
    text-align: center;
    color: #fff;
    width: 100%;
    margin: 160px 0 0 0;
	animation-name:logo;
 	animation-duration: 2.5s;
 	animation-timing-function: ease-in-out;
 	animation-fill-mode: forwards;
 	animation-delay: 0s;
}
.header-interiores .cont-info{
	margin: 50px 0 0 0;

}
.header-interiores h1{
    margin-top: 15px;
    font-size: 23px;
}
header ul li{
	display: inline-block;
    margin: 0 10px;
}
header ul li a{
	font-size: 15px;
	color: #fff;

}
header ul li a:hover{
	color: #f4563c;
}
.cont-nav{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: rgba(0,0,0,0.6);
    padding: 8px 0;
    border-bottom: 1px solid #555;
}
.cont-nav nav{
    float: right;
}
.navbar-inverse{
    background: transparent;
    border: none;
}
.navbar-nav>li>a{
    padding-top: 7px;
    padding-bottom: 7px;
}
.navbar{
    min-height: auto;
}
.nav>li>a{
    padding: 5px 0;
}
.navbar-inverse .navbar-nav>li>a:hover{
    color: #ccc;
}
.navbar-inverse .navbar-nav>li>a.btn-danger:hover{
    color:#fff;
}
.nav>li>a.btn-danger, .btn-danger{
    padding: 5px 10px;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
}
.btn-danger i{
    font-size: 20px;
    margin-right: 5px;
}
.btn.btn-primary.btn-enviar{
    background: #000;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 12px;
    border: none;
    padding: 8px 12px;
}
.btn.btn-primary.btn-enviar:hover{
    background: #333;
}

header .logo img{
    width: 100%;
    max-width: 250px; 
}
.header-interiores .logo img{
    max-width: 150px; 
}
/*productos*/
.cont-interior{
	width: 95%;
    margin: 0 auto;
    z-index: 3;
    position: relative;
}
.bg-black{
	background: #000;
	color: #fff;
}

.bg-white .titulo{
  color: #000;  
}
.section h2{
	text-align: center;
	margin: 0 0 50px 0;
}
.productos a{
	color: #fff;
}
.productos article{
    background-size: cover;
    position: relative;
    overflow: hidden;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    height: 240px;
    color:#fff;
    
}
.productos article:before, .productos article:after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 95%;
	height:200px;  
}
.productos.destacados article:before{
border-right: 6px solid #e33734;
}
.productos article:before{
background: rgba(0,0,0,0.7);
z-index: 2;	
}
.productos article:after{
background: url(../img/disenos/103151_l_3.jpg) top center;
transition:background-size .6s ease-in-out; 
background-size:125%;
z-index: 1;
 }
.productos article:hover::after{
    background-size:135%;
}
.productos article p{
    margin: 5px auto 25px auto;
    width: 90%;
}
.productos article a{
    background: #e33734;
    color: #fff;
    padding: 12px 15px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;

}
.productos article a:hover, input[type="submit"]:hover{
	background: #f4563c;
}
/*Eventos*/
#eventos{
    background: url(../img/bg-contact.jpg) no-repeat;
    background-size: cover;
}
.fullwidth .meida-holder{
    padding-top: 50px;
    width: 95%;
    margin: 0 auto;
    /* border-top: 1px solid #fff; 
    background: #ccc;*/
    padding-bottom: 50px;
}
.fullwidth .item .evento1 {
   background: url(../img/evento1.jpg) no-repeat center;
} 
.fullwidth .item .evento2 {
   background: url(../img/evento2.jpg) no-repeat center;
}
.fullwidth .item .evento3 {
   background: url(../img/evento3.jpg) no-repeat center;
}
.fullwidth .item .evento4 {
   background: url(../img/evento4.jpg) no-repeat center;
}
.fullwidth .item .evento5 {
   background: url(../img/evento5.jpg) no-repeat center;
}
.fullwidth .item .evento6 {
   background: url(../img/evento6.jpg) no-repeat center;
}
.fullwidth .item:hover .meida-holder{
    top: -20px;
}
.fullwidth .item .detail-container{
    padding: 10px 30px 10px;
}
.fullwidth .item .detail-container a{
    color: #000;
    font-weight: 700;
}
.fullwidth .item .detail-container a:hover{
    color: #d9534f;
}
/*Evento*/
.img-evento .carousel{
    margin-bottom: 40px;
}
.img-evento .carousel-indicators{
    bottom: -50px;

}
.img-evento .carousel-indicators li{
    border: 1px solid #000;
    width: 12px;
    height: 12px;
    margin: 0;
}
.carousel-indicators .active{
    background: #000;
}
.carousel-control i{
    position: absolute;
    top: 42%;
    font-size: 40px;
}
.img-evento img{
    width: 100%;  
}
p a.btn-danger{
    margin: 20px 0;
    display: block;
    text-align: center;
    background: #000;
    padding: 8px 0;
}
p a.btn-danger:hover, p a.btn-danger:focus{
    background: #222;
}
p a.btn-danger i{
    font-size: 20px;
    margin-right: 10px;
}
.mapa-evento{
    margin-bottom: 40px;
}
/*Contacto*/
.form-contact{
	/*width: 45%;*/
	color: #fff;
}
.form-contact label{
    display: block;
    margin: 25px 0 5px 0;
    font-size: 15px;
    font-weight: 400;
	}
form input[type="submit"], form .btn.btn-primary.btn-enviar{
    border-radius: 0;
    width: 100%;
    margin-bottom: 15px;
    padding: 14px 0;
}
textarea {
    width: 100% !important;
    height: 120px !important;}
input[type="text"], textarea{
    background: #fff;
    width: 100%;
    box-sizing: border-box;
    color: #333;
padding: 8px;
margin: 12px 0;}
}

.footer1{
 padding: 60px 0;
}
.footer1 p{
    border-left: 5px solid;
    padding-left: 15px;
    margin-top: 10px;
}
.footer1 .redes{
	margin: 0 0 0 18px;
}
.footer2{
    background: #000;
    color: #777;
    font-size: 12px;
    padding: 15px 0;
}
@media screen and (max-width: 990px){
header, .header-interiores{
	height: 250px;
}
header .cont-info{
    margin: 70px 0 0 0;
}
}
@media screen and (max-width: 768px){
.container, .container-100{
	display: block;
}
.cont-nav{
    padding: 0;
}
.cont-nav nav {
    float: none;}
.footer1 p{
	margin: 40px 0 0 0;
}
}


